.sidebar{
    display: flex;
    flex-direction: column;
    flex:0.35;   
}
.sidebar_header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(202, 220, 225);
    border-right: 1px solid lightgrey;
    border-radius: 10px;
}
.sidebar_headerRight{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vw;
}
.sidebar_chats{
    overflow: scroll;
    flex: 1;
    background-color: white;
}